	<div id="menu">
		<ul>
			<li class="home"><a href="home.php">Home</a></li>
			<li class="staff"><a href="reporte_forma_staff.php">Staff</a></li>
			<li class="wards"><a href="wards.php">Wards</a></li>
			<li class="patients"><a href="#">Patients</a></li>
			<li class="contact"><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
			<div id="s3slider">
			       <ul id="s3sliderContent">
			          <li class="s3sliderImage">
									<img src="/hospital/images/img06.jpg" alt="1" />
			              <span>Your health is our first priority </span>

			          </li>
			          <li class="s3sliderImage">
									<img src="/hospital/images/Slider1.jpg" alt="2" />
		              <span>Your health is our first priority </span>
			          </li>
			          <li class="s3sliderImage">
									<img src="/hospital/images/Slider2.jpg" alt="3" />
		              <span>Your health is our first priority </span>

			          </li>
			          <li class="s3sliderImage">
									<img src="/hospital/images/Slider3.jpg" alt="4" />
		              <span>Your health is our first priority </span>
			          </li>
			          <div class="clear s3sliderImage"></div>
			       </ul>
			</div><!-- s3slider -->

		</div>
	</div>
	<!-- end #header -->
